@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Nunito:wght@400;700&display=swap&family=Inter:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    padding: 0px;
    margin: 0px;
    color: #000;
    --type-first: 'Nunito', Arial, sans-serif;
    --type-second: 'MontSerrat', Georgia;
    font-family: var(--type-first);
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0px;
  }
  
  ul,
  li {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  button,
  input {
    display: block;
    font-size: 1rem;
    font-family: var(--type-first);
    color: #000;
  }
  
  a {
    text-decoration: none;
    font-style: none;
  }

  